.currentMarkerInfo {
  position: relative;
  margin: 1rem 0 0 1rem;
  width: 13rem;
  // top: 1rem;
  background-color: white;
  padding: 0.5rem;
  border-radius: 1rem;

  .title {
    // position: absolute;
    // bottom: 101%;
    // padding: 0.3rem;
    // border-radius: 0.5rem;
    color: var(--green-01);
  }

  .city {
    font-weight: 500;
    display: flex;
    align-items: center;

    .icon {
      margin-right: 0.5rem;
    }

    .icon2 {
      position: relative;
      margin-left: 0.5rem;
      cursor: pointer;

      div {
        position: absolute;
        width: max-content;
        left: 120%;
        margin: auto;
        background-color: black;
        color: var(--grey-01);
        padding: 0.3rem;
        border-radius: 5px;
        font-size: 10px;
      }
    }
  }

  .address {
    text-align: justify;
    margin-top: 0.5rem;
    line-height: 1.1rem;
    // width: max-content;
  }
}
